<div class="box" v-for="meow of (selectedFeedOption !== 3 ? meows : [replySourceMeow])" v-bind:key="meow.id">
    <nav class="level is-mobile">
        <div class="level-left">
        <a class="level-item" aria-label="reply">
            <span class="icon is-small">
            <i class="fa fa-user"></i>
            </span>
            <span class="ml-2">{{meow.username}}</span>
        </a>
        </div>
        <div class="level-right">
        <span class="level-item">
            {{meow.timestamp}}
        </span>
        </div>
    </nav>
    <div class="content">
        {{meow.content}}
    </div>
    <nav class="level is-mobile" v-if="selectedFeedOption !== 3">
        <div class="level-left">
        <a class="level-item" aria-label="reply" @click="() => { enterReplyMode(meow); }">
            <span class="icon is-small">
            <i class="fa fa-reply" aria-hidden="true"></i>
            </span>
            <span class="ml-1">4</span>
        </a>
        <a class="level-item" aria-label="retweet" @click="postMeow( `RT ${meow.username}: ${meow.content}` )">
            <span class="icon is-small">
            <i class="fa fa-retweet" aria-hidden="true"></i>
            </span>
        </a>
        </div>
    </nav>
</div>