
[[extend 'layout.html']]

<section class="section">
  <div class="title">Your Address Book</div>
  
  
  <div>
    <table class="table is-striped is-fullwidth is-narrow">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th></th>
          <th>Phone Numbers</th>
        </tr>
      </thead>
      <tbody>
        [[for contact in contacts:]]
        <tr>
            <td>[[=contact.get('firstName', '')]]</td>
            <td>[[=contact.get('lastName', '')]]</td>
            <td>
              <a href="[[=URL('edit', row.id)]]" class="button is-warning btn-sm"><span class="icon"><i class="fa fa-edit "></i></span></a>
              
              <a href="{{=URL('delete', args=[contact.id])}}" class="button is-danger btn-sm">Delete</a>
            </td>
            <td>
              [[for phone in contact.get('phones', []):]]
              <span>[[=phone.get('number', '')]] ([[=phone.get('kind', '')]])</span>
              [[pass]]
              <span> 
                <a class="button is-warning" href="[[=URL('addNums')]]">
                  <span class="icon"><i class="fa fa-edit "></i></span>
                  <span>Add</span>
                </a></span>
            </td>
        </tr>
        [[pass]]
      </tbody>
    </table>
  </div>
  <div>
    <a class="button is-primary" href="[[=URL('addNames')]]">
      <span class="icon"><i class="fa fa-plus"></i></span>
      <span>Add Contact</span>
    </a>
  </div>
</section>