[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<div class="section" id="vue-target" v-cloak>
  <!-- Put here your Vue.js template -->
  
  <div class="columns">
    <div class="column">
       <!-- this is for the publish of it working and the button -->
      <div v-if="selectedFeedOption !== 3" class="field" >
        <textarea 
        class="textarea" placeholder="What Would You Like to Say?" rows="2" ref="postTextArea">
        </textarea>
      </div>

      <!--
<div class="field">
        <p class="control has-icons-right">
          <input class="input" type="text" placeholder="Search users" id="search-input">
          <span class="icon is-small is-right clickable" id="clear-search">
            <i class="fa fa-times-circle"></i>
          </span>
        </p>
      </div>

      <div class="field has-addons" v-for="user in users" :key="user.id" class="user">
        <p class="control">
          <button class="button">
            <span>{{ user.username }}</span>
          </button>
-->
      <!-- this is for the publish of it working and the button -->
      <div v-if="selectedFeedOption !== 3" class="field" >
        <div class="control">

<!-- this is for the publish of it working and the button -->
          <button class="button is-link" @click="event => { event.target.disabled = true; postMeow( $refs.postTextArea.value ).then(() => {event.target.disabled = false;}); $refs.postTextArea.value = ''; }">
            Publish Your Response!
          </button>
          <!-- this is for the publish of it working and the button -->
        </div>
      </div>





       <!-- checking the boxes and making sure they all work -->
      <div class="box"  v-bind:key="meow.id" v-for="meow of (selectedFeedOption !== 3 ? meows : [replySourceMeow])">
        <!-- checking the boxes and making sure they all work -->
        <nav class="level is-mobile">
<!--
<div class="field">
        <p class="control has-icons-right">
          <input class="input" type="text" placeholder="Search users" id="search-input">
          <span class="icon is-small is-right clickable" id="clear-search">
            <i class="fa fa-times-circle"></i>
          </span>
        </p>
      </div>

      <div class="field has-addons" v-for="user in users" :key="user.id" class="user">
        <p class="control">
          <button class="button">
            <span>{{ user.username }}</span>
          </button>
-->
           <!-- checking the boxes and making sure they all work -->
          <div class="level-left">
            <a class="level-item" >
              <span class="icon is-small">
                <i class="fa fa-user"></i>
              </span>
              <span class="ml-1">{{meow.username}}</span>
            </a>
          </div>

 <!-- checking the boxes and making sure they all work -->
          <div class="level-right">
            <span class="level-item">{{meow.timestamp}}</span>
          </div>

 <!-- checking the boxes and making sure they all work -->
        </nav>
        <div class="content">{{meow.content}}</div>
        <nav v-if="selectedFeedOption !== 3" class="level is-mobile" >
          <div class="level-left">
            <a class="level-item" @click="() => { enterReplyMode(meow); }">
              <span class="icon is-small">
                <i   class="fa fa-reply" ></i>
              </span>
              <span class="ml-2">{{meow.replies > 0 ? meow.replies : ''}}</span>
            </a>
            <!--
<div class="field">
        <p class="control has-icons-right">
          <input class="input" type="text" placeholder="Search users" id="search-input">
          <span class="icon is-small is-right clickable" id="clear-search">
            <i class="fa fa-times-circle"></i>
          </span>
        </p>
      </div>

      <div class="field has-addons" v-for="user in users" :key="user.id" class="user">
        <p class="control">
          <button class="button">
            <span>{{ user.username }}</span>
          </button>
-->
            <a class="level-item" @click="postMeow( `ReTweet: ${meow.username}: ${meow.content}` )">
              <span class="icon is-small">
                <i  class="fa fa-retweet" ></i>
              </span>
            </a>
          </div>
        </nav>
      </div>
      


      
      <div v-if="selectedFeedOption === 3" class="field" >
        <textarea 
        rows="2" class="textarea"  placeholder="Type what you think of" ref="replyTextArea">

        </textarea>
      </div>
      <div v-if="selectedFeedOption === 3" class="field" >
        <!--
<div class="field">
        <p class="control has-icons-right">
          <input class="input" type="text" placeholder="Search users" id="search-input">
          <span class="icon is-small is-right clickable" id="clear-search">
            <i class="fa fa-times-circle"></i>
          </span>
        </p>
      </div>

      <div class="field has-addons" v-for="user in users" :key="user.id" class="user">
        <p class="control">
          <button class="button">
            <span>{{ user.username }}</span>
          </button>
-->
        <div class="control">
          <button class="button is-link" @click="event => { event.target.disabled = true; postMeow( $refs.replyTextArea.value, selectedFeedOption ).then(() => {event.target.disabled = false;}); $refs.replyTextArea.value = ''; }">
            Submit Reply!
          </button>
        </div>
      </div>
      
      <div v-bind:key="meow.id" class="box" v-for="meow of (selectedFeedOption === 3 ? meows : [])">
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item">
              <span class="icon is-small">
                <i class="fa fa-user"></i>
                <!--
<div class="field">
        <p class="control has-icons-right">
          <input class="input" type="text" placeholder="Search users" id="search-input">
          <span class="icon is-small is-right clickable" id="clear-search">
            <i class="fa fa-times-circle"></i>
          </span>
        </p>
      </div>

      <div class="field has-addons" v-for="user in users" :key="user.id" class="user">
        <p class="control">
          <button class="button">
            <span>{{ user.username }}</span>
          </button>
-->
              </span>
              <span class="ml-1">{{meow.username}}</span>
            </a>
          </div>
          <div class="level-right">
            <span class="level-item">{{meow.timestamp}}</span>
          </div>
        </nav>
<!--
<div class="field">
        <p class="control has-icons-right">
          <input class="input" type="text" placeholder="Search users" id="search-input">
          <span class="icon is-small is-right clickable" id="clear-search">
            <i class="fa fa-times-circle"></i>
          </span>
        </p>
      </div>

      <div class="field has-addons" v-for="user in users" :key="user.id" class="user">
        <p class="control">
          <button class="button">
            <span>{{ user.username }}</span>
          </button>
-->

        <div class="content">{{meow.content}}</div>
        <nav v-if="selectedFeedOption === 3" class="level is-mobile" >
          <div class="level-left">
            <a class="level-item" @click="() => { enterReplyMode(meow); }">
              <span class="icon is-small">
                <i   class="fa fa-reply" ></i>
                <!--
<div class="field">
        <p class="control has-icons-right">
          <input class="input" type="text" placeholder="Search users" id="search-input">
          <span class="icon is-small is-right clickable" id="clear-search">
            <i class="fa fa-times-circle"></i>
          </span>
        </p>
      </div>

      <div class="field has-addons" v-for="user in users" :key="user.id" class="user">
        <p class="control">
          <button class="button">
            <span>{{ user.username }}</span>
          </button>
-->
              </span>
              <span class="ml-1">
                {{meow.replies > 0 ? meow.replies : ''}}
              </span>
            </a>
            <a class="level-item" @click="postMeow( `RT ${meow.username}: ${meow.content}` )">
              <span class="icon is-small">
                <i   class="fa fa-retweet" ></i>
              </span>
            </a>
          </div>
        </nav>
      </div>
      
    </div>
    
    <div class="column is-one-third has-background-light">
      
      <div v-for="(name, index) of feedOptions" class="field" >
        <button @click="() => { selectFeedOption(index); }" class="button" v-bind:class="{'is-info': index === selectedFeedOption}">{{name}}</button>
      </div>
      
      <div class="field">
        <p class="control has-icons-right">
          <!--
<div class="field">
        <p class="control has-icons-right">
          <input class="input" type="text" placeholder="Search users" id="search-input">
          <span class="icon is-small is-right clickable" id="clear-search">
            <i class="fa fa-times-circle"></i>
          </span>
        </p>
      </div>

      <div class="field has-addons" v-for="user in users" :key="user.id" class="user">
        <p class="control">
          <button class="button">
            <span>{{ user.username }}</span>
          </button>
-->
          <input @input="event => { makeAresponse(event.target.value); }" type="text" placeholder="Search users" class="input" ref="searchInput" >
          <span class="icon is-small is-right clickable" @click="event => { newApplication(); $refs.searchInput.value = ''; }">
            <i class="fa fa-times-circle"></i>
          </span>
        </p>
      </div>
      
      <div v-for="user of searchedUsers" class="field has-addons"  v-bind:key="user.id">
        <p class="control">
          <button class="button">
            <!--
<div class="field">
        <p class="control has-icons-right">
          <input class="input" type="text" placeholder="Search users" id="search-input">
          <span class="icon is-small is-right clickable" id="clear-search">
            <i class="fa fa-times-circle"></i>
          </span>
        </p>
      </div>

      <div class="field has-addons" v-for="user in users" :key="user.id" class="user">
        <p class="control">
          <button class="button">
            <span>{{ user.username }}</span>
          </button>
-->
            <span>{{user.username}}</span>
          </button>
        </p>
        <p class="control">
          <button class="button is-outlined" v-bind:class="{'is-danger': user.following, 'is-success': !user.following}" @click="next_userfoll(user.id, !user.following)">
            <span class="icon is-small">
              <i class="fa fa-check "></i>
            </span>
            <span>{{'Follow'}}</span>
          </button>
        </p>
      </div>
      
    </div>
  </div>
  
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  const get_users_url = '[[=get_users_url]]';
  const set_follow_url = '[[=set_follow_url]]';
  const post_meow_url = '[[=post_meow_url]]';
  const get_feed_url = '[[=get_feed_url]]';
  const set_reply_url = '[[=set_reply_url]]';
</script>
<script src="js/index.js"></script>
[[end]]
